@import '../imports/index.scss';

.selectors {
	margin: $default-margin auto;
	max-width: 600px;
	text-align: center;

	li {
		display: inline-block;
		padding: $default-padding / 4;
		width: 150px;

		select,
		button {
			height: 30px;
			outline: none;
			width: 100%;
		}

		select {
			text-transform: capitalize;
		}

		label {
			font: 700 rem(10px) $font-family-headings;
			color: lighten($dark, 25);
		}

		button {
			background: $blue;
			margin: 0;
		}
	}

	@include breakpoint(tablet) {
		li {
			width: calc(100% / 3);
		}
	}
}
